@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloth Store</title>
</head>
<body>
    <!-- LOADER -->
    <div id="loader">
        <div class="position-center-center">
            <div class="ldr"></div>
        </div>
    </div>
    <!-- Wrap -->
    <div id="wrap">
        <!--======= SUB BANNER =========-->
        <section class="sub-bnr" data-stellar-background-ratio="0.5">
            <div class="position-center-center">
                <div class="container">

                </div>
            </div>
        </section>

        <!-- Content -->
        <div id="content">

            <!-- History -->
            <section class="history-block padding-top-100 padding-bottom-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 center-block">
                            <div class="col-sm-9 center-block">
                                <h4>A Brief History</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bibendum varius purus. <br>
                                    <br>
                                    Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate. Morbi volutpat leo iaculis elit vehicula, eu convallis magna finibus. Suspendisse tristique ullamcorper erat a elementum. Cras eget elit non nunc aliquam ullamcorper quis sed metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, erat in ullamcorper bibendum, elit lacus mattis lorem, quis luctus diam lorem vel ligula.
                                </p>
                            </div>

                            <!-- IMG -->
                            <img class="img-responsive margin-top-80 margin-bottom-80" src="/images/about-img.jpg" alt="">
                            <div class="vision-text">
                                <div class="col-lg-5">
                                    <h5 class="text-left">our vision</h5>
                                    <h2>We craft awesome stuff with great experiences</h2>
                                </div>
                                <div class="col-lg-7">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. <br>
                                        <br>
                                        Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bibendum varius purus. Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- OUR TEAM -->
        </div>
    </div>
    <section class="our-team light-gray-bg padding-top-150 padding-bottom-100">
        <div class="container">
            <div class="heading text-center">
                <h4>OUR TEAM</h4>
                <span>United by love & help to build great brands</span>
            </div>

            <!-- TEAM -->
            <ul class="row">

                <!-- Member -->
                <li class="col-md-4 text-center animate fadeInUp" data-wow-delay="0.4s">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle" src="/images/team-1.jpg" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>JOSEPH MARK</h6>
                            <p>CEO & FOUNDER</p>
                        </div>
                    </article>
                </li>

                <!-- Member -->
                <li class="col-md-4 text-center animate fadeInUp" data-wow-delay="0.6s">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle" src="/images/team-2.jpg" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>jennifer rod</h6>
                            <p>DESIGNER</p>
                        </div>
                    </article>
                </li>

                <!-- Member -->
                <li class="col-md-4 text-center animate fadeInUp" data-wow-delay="0.8s">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle" src="/images/team-3.jpg" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>natasha singh</h6>
                            <p>DEVELOPER</p>
                        </div>
                    </article>
                </li>

                <!-- Member -->
                <li class="col-md-4 text-center">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle" src="/images/team-4.jpg" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>JOSEPH MARK</h6>
                            <p>Product Designer</p>
                        </div>
                    </article>
                </li>

                <!-- Member -->
                <li class="col-md-4 text-center">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle" src="/images/team-5.jpg" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>jennifer rod</h6>
                            <p>Quality Head</p>
                        </div>
                    </article>
                </li>

                <!-- Member -->
                <li class="col-md-4 text-center">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle" src="/images/team-6.jpg" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>natasha singh</h6>
                            <p>DEVELOPER</p>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </section>

</body>
</html>